body{
    font-family: 'Arial', Times, serif;
    background-image: url('sky.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:aliceblue;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:aliceblue;

}

#start {
font-family: 'Arial', Times, serif;
color: blueviolet;
font-size: 30;
text-align: "text-align:center;";  
border: 7px solid rgb(240, 239, 239);  
width: 70px;  
height: 100px;  
border-radius: 10px 10px 10px 10px;
position:relative; left:0px; top:490px

}


#restart{
font-family: 'Arial', Times, serif;
color: blueviolet;
font-size: 30;
text-align: "text-align:center;";  
border: 7px solid rgb(240, 239, 239);  
width: 70px;  
height: 100px;  
border-radius: 10px 10px 10px 10px;
position:relative; left:0px; top:490px
  
    
    }

.intro{
    display: none;
}


.myCanvas{
    margin-top: 150px;


}
